@import "tailwindcss";

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


h2.highlight-underline {
  position: relative;
  display: inline-block;
}

h2.highlight-underline::after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: 4px;  /* tweak this to sit right below text baseline */
  width: 200px; /* adjust width */
  height: 8px;  /* thickness of line */
  background-color: rgba(255, 150, 52, 0.75);
  transform: rotate(-8deg);
  z-index: -1;
  border-radius: 4px;
}
